.{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(pic/bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display:inline-block;
    padding: 10px 16px;
    margin-top: auto;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
}

ul li a:hover{
    color: rgb(230,104,59);
}

.info{
    margin-top: 7%;
    margin-left: 6%;
}

.info h1{
    font-size: 40px;
    color: rgb(115, 62, 35);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color: rgb(230,104,59);
}

.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 20px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.4s ease;
}

.info a:hover{
    color: rgb(59,174,209);
}

.images{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.images img{
    position:absolute;
    width: 70%;
    left: 50%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;
    background-color:white(195, 194, 194);
    
}

.images:hover .girl{
    left: 55%;
    width: 200px;
    height: 500px;
}

.icon a{
    text-decoration: none;
    color: #000;
}

.icon ion-icon{
    margin-left: 7%;
    color: #000;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s ease;
}

.icon ion-icon:hover{
    color: rgb(59,174,209);
}
.top{
    width: 100%;
    background: url(pic/bg.png);
    background-position: center;
    background-size: cover;
}

.skill-section{
    width: 100%;
    height: auto;
    padding: 80px 13%;
    background-color: rgba(0,0,0,0.80);
}

.header-skill-head{
    width: 100%;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
}
.header-skill-head h2{
    margin-bottom: -5px;
    font-size: 40px;
}
.header-skill-head h2 span{
     color: #e74d06;
}
.header-skill-head p{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: 3px;
}
.content{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.skill-main{
    width: 100%;
    margin-left: 40%;
    display: grid;
    grid-template-columns: repeat(2,.1fr);
     grid-column-gap: 50px;
     grid-row-gap: 15px;
     place-items:center;
     text-align: center;
     text-size-adjust: 18px;    
}
.abc span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
}
.per-name {
    height: 15px;
}

